{% block content %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
      <h3>SignUp</h3>

      <form action="/signup" method="post">
       {% csrf_token %}
          <label for="">Username</label>
          <input type="text" id="username" name="username" placeholder="username" required>
           <br>
          <label for="">Firstname</label>
          <input type="text" id="firstname" name="firstname" placeholder="firstname" required>
          <br>
          <label for="">Lastname</label>
          <input type="text" id="lastname" name="lastname" placeholder="lastname" required>
          <br>
          <label for="">Email Address</label>
          <input type="email" id="email" name="email" placeholder="email" required>
          <br>
          <label for="">Password</label>
          <input type="password" id="password" name="password" placeholder="password" required>
          <br>
          <label for="">Confirm Your Password</label>
          <input type="password" id="confirmpass" name="confirmpass" placeholder="confirmpassword" required>
          <br>        
          <button type="submit">Sign Up</button>
        <script src="" async defer></script>
    </body>
</html>
{% endblock %}